/* Exemple de CSS pour rendre le contenu plus responsive */
.head {
    padding: 20px;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    flex: 1;
    text-align: center;
  }
  
  .social {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  @media screen and (max-width: 768px) {
    /* Styles à appliquer lorsque la largeur de l'écran est inférieure à 768px */
    .container {
      flex-direction: column;
    }
  
    .logo, .social {
      flex: none;
      text-align: center;
    }
  }
  